# API
fastapi==0.111.0
uvicorn[standard]==0.30.0

# Data / ML
scikit-learn==1.5.0
pandas==2.2.2
numpy==1.26.4
joblib==1.4.2

# NLP / preprocessing
beautifulsoup4==4.13.4
requests==2.31.0

# MLflow (tracking + model serving)
mlflow==2.12.2

# MLflow dependencies importantes (évite bugs Windows)
setuptools<70.0.0
pyarrow==14.0.2

# Optionnel mais utile
matplotlib==3.10.0
